* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

.hidden {
  display: none;
}

video, 
canvas {
  display: block;
  margin: 0 auto;
}

.dot {
  height: 300px;
  width: 300px;
  /* background-color:; */
  border-radius: 50%;
  display: inline-block;
  border:10px solid rgb(93, 62, 231);
  border-radius: 500px;
}

.get-jams{
  background-color: rgb(29, 185, 29);
  height: 50px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid rgb(93, 62, 231);
}
.pic-retake{
  background-color: rgb(177, 219, 78);
  height: 50px;
  width: 100px;
  border-radius:20%;
  border: 2px solid red;
}
.section{
  text-align: center;
}
h1{
  color: rgb(29, 185, 29);
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
}

#responseTextArea {
  color: white;
}
.player{
  align-content: center;
}